:root {
    --primary-color: #e83b4d; /* Color principal */
    --background-color: #fff8f6; /* Color de fondo de los usuarios */
    --white-color: #ffffff; /* Color blanco */
}


h2 {
    text-align: center;
    color: var(--primary-color); /* Títulos en color primario */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: var(--primary-color); /* Botón en color primario */
    color: var(--white-color); /* Texto del botón en blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d72e3a; /* Color más oscuro para el hover del botón */
}

.error {
    color: red;
    text-align: center;
}

.userGroup, .priorityUser  Group {
    margin-top: 20px;
}

.userList, .priorityUser  List {
    margin-top: 10px;
}

.user, .priorityUser   {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: var(--background-color); /* Color de fondo para los usuarios */
}

.enter {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loginContainer {
    width: 100%; /* Aumentar el ancho del contenedor de login */
    max-width: 450px; /* Ancho máximo para el formulario */
    margin: auto;
    padding: 30px; /* Aumentar el padding para un mejor aspecto */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--background-color);
}

.input {
    width: 100%; /* Hacer que los inputs ocupen todo el ancho */
    padding: 10px; /* Añadir padding para mayor comodidad */
    margin: 10px 0; /* Espacio entre los inputs */
}

.userContainer {
    display: flex; /* Usar flexbox para alinear los grupos de usuarios */
    justify-content: space-between; /* Espacio entre los grupos */
    margin-top: 20px;
}

.userGroup, .priorityUser  Group {
    flex: 1; /* Cada grupo ocupa el mismo espacio */
    margin: 0 10px; /* Espacio entre los grupos */
}

.user, .priorityUser  {
    border: 1px solid #ddd;
    padding: 15px; /* Aumentar el padding para mejor presentación */
    margin: 10px 0; /* Espacio entre los usuarios */
    border-radius: 4px;
    background-color: var(--background-color);
}

h3 {
    margin: 0; /* Eliminar margen para un mejor diseño */
}

p {
    margin: 5px 0; /* Espacio entre párrafos */
}