.contenidoPerfil{
    background-color:#EFEBF9;
    height: 100vh;
    width: 100%;
}

.tu-perfil{
    display: flex;
    margin-bottom: -15px;
    margin-left: 20px;
}
.rating {
    display: flex;
    font-size: 1.5rem;
    color: #f0c91e; 
    margin-left: 5px;
}

.puntua{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 8px;
}

.rating input {
    display: none; 
}

.circulo{
    background-color: rgb(202, 198, 230);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: -15px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.usuario{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 35px;
}

.saludo{
    font-weight: bold;
    color: #111111;
    margin-right: 30px;
}

.mensaje{
    font-size: 14px;
    color: #555555;
    margin-top: 0px;
    margin-right: 35px;
}

.notificaciones{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0px;
    margin-right: 280px;
    margin-left: 180px;
    margin-bottom: 0px;
}

.notification-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px;
    width: 410px; /* Ajusta el ancho según tus necesidades */
    margin-left: 8% ;
}

.notification-circle {
    width: 40px;
    height: 40px;
    background-color: #99ebd9; /* Color del círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.notification-text {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}
.notification-button {
    background-color: #862dec; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.notification-button:hover {
    background-color: #2475cc; /* Color del botón al pasar el ratón */
}

.view-all-button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 10px; /* Espacio arriba del botón */
    width: 410px; /* Mismo ancho que el contenedor de notificaciones */
    margin-left: 8% ;
}
.view-all-button {
    background-color: #ab6df1; /* Color del botón "Ver todo" */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Ocupa el ancho completo del contenedor */
    transition: background-color 0.3s;
}
.view-all-button:hover {
    background-color: #2475cc; /* Color del botón "Ver todo" al pasar el ratón */
}

.tus-mentores{
    display: flex;
    flex-direction:row;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: auto;
}

.tus-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    width: 410px; /* Ajusta el ancho según tus necesidades */
    margin-left: 8% ;
}

.tus-circle {
    width: 40px;
    height: 40px;
    background-color: #99ebd9; /* Color del círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.tus-text {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.profesion{
    font-family: italic;
    font-size: 14px;
    font-weight:lighter;
    color: #555555;
}

.tus-button {
    background-color: #862dec; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.tus-button:hover {
    background-color: #2475cc; /* Color del botón al pasar el ratón */
}

.tus-view-all-button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 10px; /* Espacio arriba del botón */
    width: 410px; /* Mismo ancho que el contenedor de notificaciones */
    margin-left: 8% ;
}

.tus-view-all-button {
    background-color: #ab6df1; /* Color del botón "Ver todo" */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Ocupa el ancho completo del contenedor */
    transition: background-color 0.3s;
}

.tus-view-all-button:hover {
    background-color: #2475cc; 
}





.wrapper {
    display: inline-flex;
    list-style: none;
    height: 35px;
    width: 85%;
    padding-top: 0px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    margin-right: 45px;
    margin-top: -20px;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover  {
    background: #ce8de2;
    color: #fff;
  }
  
  .wrapper .twitter:hover  {
    background: #ce8de2;
    color: #fff;
  }
  
  .wrapper .instagram:hover  {
    background: #ce8de2;
    color: #fff;
  }
  






.sobre{
    color: #0e0d0d; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 15px;
    margin-right: 180px;
}

.card {
    width: 250px;
    height: 180px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #d8d8d8; /* Color de fondo */
    margin-top:0px ;
    margin-left: -25px; 
    margin-right:0
}
.title {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 1em;
    margin-bottom: 5px;
    color: #555;
  }
  
  .tags {
    margin-bottom: 10px;
  }
  
  .tag {
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
    font-size: 0.6em;
    margin-right: 8px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .tag:hover {
    background-color: #d0d0d0;
  }
  
  .edit-button {
    background-color: #ab6df1;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    transition: background-color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #2475cc;
  }

.expe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0px;
    margin-right: 335px;
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 0px;
}

.card-experiencia{
    width: 250px;
    height: 143px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #d8d8d8; /* Color de fondo */
    margin-top:0px ; 
    margin-right:0px;
    margin-left: -25px;
    text-align: center;
}

.edit-button-experiencia{
        background-color: #ab6df1;
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 0.8em;
        padding: 5px 10px;
        position:fixed;
        margin-left: 5.5%;
        transition: background-color 0.3s;      
}

.edit-button-experiencia:hover {
    background-color: #2475cc;
  }

.description-experiencia{
    font-size: 1.0em;
    margin-bottom: 5px;
    color: #555;
}

