:root {
    --rojo: #ab240c;
    --rojo-claro: #e27567;
}
.header {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: #D9CEFF;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1vh;
}

.header .container-button {
    padding: 1vh;
    display: flex;
    justify-content: space-around;

}

.header__button {
    align-self: center;
    padding: 1vh 3vw;
    margin: 1vh;
    cursor: pointer;
    border: 1px solid var(--rojo);
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.5vh;
}


.header__button1{
    background: var(--rojo-claro);
    color: var(--rojo);
}
.header__button2{
    background: var(--rojo);
    color: whitesmoke;
}

.header__button:hover {
    box-shadow: rgba(179, 43, 43, 0.452) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header__img {
    height: 90%;
    width: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    opacity: 0.75;
}


@media only screen and (max-width: 344px) {
    .header__button2{
        padding: 1vh;
    }
    
}